In [2]:
#Activity 1 : Assigning values to variables
#Assign value to a variable 'x', increment the number, and perform additional operations
x=14
x+=1
x=(x/5)**2
print(x)

9.0

In [3]:
#using variable names
#To see all python keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
#Below are some common errors related to variable
#Exercie 4
1st_number=1

SyntaxError: invalid syntax (<ipython-input-4-327b9e66b64e>, line 3)

In [5]:
#No error in this
first_number=1

In [6]:
#Another variable name error
#Special characters cannot be used
my_$=1

SyntaxError: invalid syntax (<ipython-input-6-745abef16e01>, line 2)

In [8]:
#Multiple variables
#Exercise 5
x=5
y=2
print(x+x-y**2)

6

In [9]:
#Exercise 5 continued
#Assigning many variables in one go
x,y=8,5
x//y

1

In [12]:
#Activity 2: Finding a solution using pythagorean theorem in Python
"""We are using Pythagorean Theorem"""
#Initialize the values
x,y,z=2,3,4
#Pythagorean Theorem in 3 dimensions
w_squared= x**2 + y**2 + z**2
#The square root gives the distance
w=w_squared**0.5
#Shows The distance
w

5.385164807134504

In [14]:
#Strings: Concatenation, Methods, and input()
"""Using a escape sequence"""
bookstore='Mohit\'s'
print(bookstore)

Mohit's

In [15]:
#Using strings with arithmatic operators
#With concatenation
greetings='Hello'
print(greetings + " Mohit")

Hello Mohit

In [16]:
#With * multiplication operator
greetings='Hello'
print(greetings*5)

HelloHelloHelloHelloHello

In [4]:
#string interpolation is used to add variable with a string
#Using comma , it also adds spaces
my_name='Mohit'
print("Hi my name is",my_name,". Nice to meet you")

Hi my name is Mohit . Nice to meet you

In [9]:
#USing format
#Define variables, inside string use {} to add the variable and outside string use .format(here lie values in order)
owner="Mohit"
age=17
print("The owner of the store is {} and he is {} year old".format(owner,age))

The owner of the store is Mohit and he is 17 year old

In [11]:
#Using the len() function
sentence="My name is Mohit and I am learning to code"
print("The no. of alphabets in string sentence are ",len(sentence))

The no. of alphabets in string sentence are  42

In [14]:
#STRING METHODS 
#Using the .capitalize() method. It capitalizes the first letter of the string
my_name="mohit"
my_name.capitalize()

'Mohit'

In [15]:
#Using .lower() method
my_name="MOHIT"
my_name.lower()

'mohit'

In [16]:
#using .upper() method
my_name.upper()

'MOHIT'

In [21]:
#Using count() method
#It's case sensitive
my_name="Mohit Yadav"
my_name.count("a")

2

In [1]:
#Types and casting 
#'5' and 5 different
#Can change their data types with special keywords
a="5"
type(a)
#which is string
print(a+a)

55

In [2]:
#Using int() with a
print(int(a)+int(a))

10

In [3]:
#Using imput function
#choose question to ask
print("what is your name?")

what is your name?

In [7]:
#variable to store answer
name=input("Enter your name: ")
#I entered Mohit

In [8]:
#Usign the input
print("Hi",name)

Hi Mohit

In [10]:
#Activity 3: Using the input() Function to Rate Your Day
print("How was your day? Rate between 1 to 10")

How was your day? Rate between 1 to 10

In [11]:
rate=input()
#I gave an input of 7

In [12]:
print("You gave a rating of {}".format(rate))

You gave a rating of 7

In [14]:
#Indexing
name="Mohit Yadav"
name[2]

'h'

In [16]:
#Slicing
#Space is also counted
name[4:7]

't Y'

In [17]:
#other ways of slicing
#To get n letter from beginning
name[:7]

'Mohit Y'

In [21]:
#To get letters from the end
#indexing start from -1 from end
name[-3:]

'dav'

In [22]:
#Boolean Variables
#Exercise 13
over_18=True
type(over_18)

bool

In [23]:
over_18=False
type(over_18)

bool

In [24]:
#Using logical operators with boolean
a=True
b=True
c=False
d=False
#Using And operator
a and b

True

In [25]:
#AND shows true only when both are true
a and c

False

In [26]:
#Using OR operator
a or b

True

In [27]:
#OR shows true when either is true
a or c

True

In [28]:
c or d

False

In [29]:
#Using NOT operator, it negates the boolean value
not a

False

In [30]:
not c

True

In [31]:
over_18=True
over_21=False
over_18 and over_21

False

In [32]:
#When one is true and other is false
over_18 or over_21

True

In [33]:
#over_18 is true 
not over_18

False

In [34]:
over_21 or (over_21 or over_18)

True

In [35]:
age=20
age<13

False

In [36]:
age>=20 and age<=21

True

In [37]:
age != 20

False

In [38]:
age != 21

True

In [39]:
age==19

False

In [40]:
6==6.0

True

In [41]:
6=="6"

False

In [42]:
#Testingif someone is in their 20's or 30's
age=24
(age>=20 and age<30) or (age>=30 and age<40)

True

In [43]:
age>=20 and age<30 or age>=30 and age<40

True

In [44]:
#Another approach
(20<=age<30) or (30<=age<40)

True

In [45]:
#Comparing strings
"a"<"c"

True

In [46]:
#Think in terms of dictionary
"New York">"San Francisco"

False

In [47]:
#CONDITIONALS
#The if conditional
age=17
if age<18:
    print("You aren't applicable to vote.")

You aren't applicable to vote.

In [50]:
#Using nested statements
age=19
if age>=18:
    print("You can vote.")
    if age>=21:
        print("You can play poker")

You can vote.

In [54]:
#Using if-else loop
if age>=18:
    print("Welcome! to the voting program")
else:
    print('You aren\'t allowed to vote')

Welcome! to the voting program

In [55]:
"""DAY 3 ENDS HERE 
   TIME SPENT IS 1 HOUR"""

'DAY 3 ENDS HERE \n   TIME SPENT IS 1 HOUR'

In [2]:
"""DAY 4 BEGINS HERE"""

'DAY 4 BEGINS HERE'

In [4]:
#The elif statement
age=28
if age <= 10:
    print('Listen, learn, and have fun.')
elif age<= 19:
    print('Go fearlessly forward.')
elif age <= 29:
    print('Seize the day.')
elif age <= 39:
    print('Go for what you want.')
elif age <= 59:
    print('Stay physically ft and healthy.')
else:
    print('Each day is magical.')

Seize the day.

In [10]:
#The while loop
#The statements inside the loop are executed as long as the statements are true
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
#break - a python keyword , breaks the loop
x=100
while x<=1000:
    x=x+1
    if x%17==0:
        print("no. found",x )
        break 
#loop breaks as soon as it finds a no. divisible by 17

no. found 102

In [2]:
#Activity 4: Finding LCM of two numbers
a=4
b=6
lcm=1
condition=True
while lcm>=0:
    if lcm%a==0 and lcm%b==0:
        print("lcm found",lcm)
        break
    lcm=lcm+1

lcm found 12

In [4]:
#Exercise 18 : Calculating Perfecting squares
number = input("Enter number")
square = False
number = abs(int(number))
i = -1
while i<=number**(0.5):
    i=i+1
    if i*i==number:
        print("It is square of",i)
        break
#I entered 16

It is square of 4

In [2]:
print('A one bedroom in the Bay Area is listed at $599,000')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))
offer_accepted = False
while offer <= best:  
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    else:
        print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    offer += increment

A one bedroom in the Bay Area is listed at $599,000
Enter your first offer on the house.
Enter your best offer on the house.
How much more do you want to offer each time?
We're sorry, you're offer of 500000 has not been accepted.
We're sorry, you're offer of 550000 has not been accepted.
We're sorry, you're offer of 600000 has not been accepted.
Your offer of 650000 has been accepted!

In [3]:
#Using the for loop
#Similar to while loop
#Have advantages and can iterate on strings and other objects
for i in "Portland":
    print(i)

P
o
r
t
l
a
n
d

In [4]:
#USing range() in for loops
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
str1="String1"
print(str1)
str2="String2"
str2

In [1]:
#Working with lists
shopping=["breads",'milk','eggs']
print(shopping)

['breads', 'milk', 'eggs']

In [2]:
#USing for loop to iterate through it
for i in shopping:
    print(i)

breads
milk
eggs

In [3]:
#List can different types of data
mixed=[365,"days",True]
print(mixed)

[365, 'days', True]

In [4]:
#CReating a martrice using list
#Create a nested list
l1=[[1,2,3],[4,5,6]]
#Getting the elements from the matrice
#input the value as [row][column]
print(l1[1][1])
#gives value of 5 since we are using a 0 based index offset

5

In [6]:
#This for loop prints all the elements of the matrix
for i in range(len(l1)):
    for j in range(len(l1[i])):
        print(l1[i][j])

1
2
3
4
5
6

In [8]:
#Another way to do the same using the for loop
for row in l1:
    for col in row:
        print(col)

1
2
3
4
5
6