In [2]:
#Activity 1 : Assigning values to variables
#Assign value to a variable 'x', increment the number, and perform additional operations
x=14
x+=1
x=(x/5)**2
print(x)

9.0

In [3]:
#using variable names
#To see all python keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
#Below are some common errors related to variable
#Exercie 4
1st_number=1

SyntaxError: invalid syntax (<ipython-input-4-327b9e66b64e>, line 3)

In [5]:
#No error in this
first_number=1

In [6]:
#Another variable name error
#Special characters cannot be used
my_$=1

SyntaxError: invalid syntax (<ipython-input-6-745abef16e01>, line 2)

In [8]:
#Multiple variables
#Exercise 5
x=5
y=2
print(x+x-y**2)

6

In [9]:
#Exercise 5 continued
#Assigning many variables in one go
x,y=8,5
x//y

1

In [12]:
#Activity 2: Finding a solution using pythagorean theorem in Python
"""We are using Pythagorean Theorem"""
#Initialize the values
x,y,z=2,3,4
#Pythagorean Theorem in 3 dimensions
w_squared= x**2 + y**2 + z**2
#The square root gives the distance
w=w_squared**0.5
#Shows The distance
w

5.385164807134504

In [14]:
#Strings: Concatenation, Methods, and input()
"""Using a escape sequence"""
bookstore='Mohit\'s'
print(bookstore)

Mohit's

In [15]:
#Using strings with arithmatic operators
#With concatenation
greetings='Hello'
print(greetings + " Mohit")

Hello Mohit

In [16]:
#With * multiplication operator
greetings='Hello'
print(greetings*5)

HelloHelloHelloHelloHello

In [4]:
#string interpolation is used to add variable with a string
#Using comma , it also adds spaces
my_name='Mohit'
print("Hi my name is",my_name,". Nice to meet you")

Hi my name is Mohit . Nice to meet you

In [9]:
#USing format
#Define variables, inside string use {} to add the variable and outside string use .format(here lie values in order)
owner="Mohit"
age=17
print("The owner of the store is {} and he is {} year old".format(owner,age))

The owner of the store is Mohit and he is 17 year old

In [11]:
#Using the len() function
sentence="My name is Mohit and I am learning to code"
print("The no. of alphabets in string sentence are ",len(sentence))

The no. of alphabets in string sentence are  42

In [14]:
#STRING METHODS 
#Using the .capitalize() method. It capitalizes the first letter of the string
my_name="mohit"
my_name.capitalize()

'Mohit'

In [15]:
#Using .lower() method
my_name="MOHIT"
my_name.lower()

'mohit'

In [16]:
#using .upper() method
my_name.upper()

'MOHIT'

In [21]:
#Using count() method
#It's case sensitive
my_name="Mohit Yadav"
my_name.count("a")

2

In [1]:
#Types and casting 
#'5' and 5 different
#Can change their data types with special keywords
a="5"
type(a)
#which is string
print(a+a)

55

In [2]:
#Using int() with a
print(int(a)+int(a))

10

In [3]:
#Using imput function
#choose question to ask
print("what is your name?")

what is your name?

In [7]:
#variable to store answer
name=input("Enter your name: ")
#I entered Mohit

In [8]:
#Usign the input
print("Hi",name)

Hi Mohit

In [10]:
#Activity 3: Using the input() Function to Rate Your Day
print("How was your day? Rate between 1 to 10")

How was your day? Rate between 1 to 10

In [11]:
rate=input()
#I gave an input of 7

In [12]:
print("You gave a rating of {}".format(rate))

You gave a rating of 7

In [14]:
#Indexing
name="Mohit Yadav"
name[2]

'h'

In [16]:
#Slicing
#Space is also counted
name[4:7]

't Y'

In [17]:
#other ways of slicing
#To get n letter from beginning
name[:7]

'Mohit Y'

In [21]:
#To get letters from the end
#indexing start from -1 from end
name[-3:]

'dav'